name: Publish

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - "**.cs"
      - "**.csproj"
      - "**.sln"
      - "**yaml"
  pull_request:
    paths:
      - "**.cs"
      - "**.csproj"
      - "**.sln"
      - "**yaml"
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup .NET (3.1.x)
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '3.1.x'

      - name: Setup .NET (5.x)
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '5.x'

      - name: Restore
        run: |
          dotnet restore HttpMoq/HttpMoq.csproj
          dotnet restore HttpMoq.Tests/HttpMoq.Tests.csproj

      - name: Build
        run: dotnet build -c Release --no-restore HttpMoq/HttpMoq.csproj

      - name: Unit Test
        run: dotnet test --no-restore -c Release /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura HttpMoq.Tests/HttpMoq.Tests.csproj

      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          file: HttpMoq.Tests/coverage.cobertura.xml

      - name: Pack
        run: dotnet pack -c Release --no-restore --no-build -o packages HttpMoq/HttpMoq.csproj

      - name: Upload Artifacts
        if: github.ref == 'refs/heads/master' && github.event_name == 'push'
        uses: actions/upload-artifact@v2
        with:
          name: nuget
          path: packages/*.nupkg

  publish:
    name: Publish
    if: github.ref == 'refs/heads/master' && github.event_name == 'push'
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v2
        with:
          name: nuget
          path: packages/

      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '5.x'

      - name: Publish 
        run: dotnet nuget push packages/**.nupkg --api-key ${{secrets.NUGET_API_KEY}} --source https://www.nuget.org/api/v2/package --skip-duplicate
